<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>inbankloancalculator</name>
    <displayName><![CDATA[Inbank Loan Calculator]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[This is a plugin for displaying InBank Loan Calculator below your product]]></description>
    <author><![CDATA[Jonas Dudonis]]></author>
    <tab><![CDATA[]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>